<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
<title>{% block title %}{% endblock %}</title> 
<style>
body{margin: 0px; padding: 0px; color: black; font-size: 15px;}

a {text-decoration: none; color: #DD4444;} 
a:hover {color: blue;}
.txtGreen{color: green;}
.txtYellow{color: yellow;}
.txtOrange{color: orange;}
.txtOrange:hover{color: blue;}

.topFrm {position: fixed; top: 0px;  z-index:999; height: 20px; width: 100%; border-bottom: 1px solid blue; background-color: white; } 
.bottomFrm {position: relative; width: 1200px; height: 100%; padding-top:20px; margin: 0 auto; border-left: 1px solid blue;}
.bottomFrm .leftFrm {width: 200px; height: 100%; border-right: 1px solid blue;}
.bottomFrm .leftSubFrm {width: 200px; height: 100%; border-right: 1px solid blue;}
.bottomFrm .rightFrm {width: 1000px;}
.bottomFrm .rightFrm .contents {position:fixed;}
</style>
</head>
<body>    
    <div class="topFrm"><a href="/">홈</a></div>
    <table class="bottomFrm" colspacing="0" cellspacing="0"> 
        <tr>
            <td valign="top" class="leftFrm" >         
            {% for artist in artists %}
                <a href="/artist?no={{ artist.id }}">{{ artist.name }}</a><br/>
            {% endfor %}
            </td>
            {% if lyricsList %}
            <td valign="top" class="leftSubFrm" >    
                총 {{ lyricsList | length }}건<br/><br/>
                {% for l in lyricsList %}
                    <a href="/lyrics?no={{ l.id }}" class="txtGreen" style="">{{ l.title }}</a><br/>
                {% endfor %}
            </td>
            {% endif %} 
            <td width="50">&nbsp;</td>
            <td valign="top" class="rightFrm" >   
               {% block contents %}
               {% endblock %}  
            </td>
        </tr>
     </table>   
</body>
</html> 
 