{% extends 'web/base.html' %}

{% block contents %}  
<!--
<!form action="/insert/artist" method="POST"> {% csrf_token %}
<input type="text" name="name" />
<br/> 
<input type="submit" />
</form>
<br/>
<form action="/save/lyrics" method="POST"> {% csrf_token %}
<input type="text" name="artist" placeholder='artist' value="アーバンギャルド" size="30" />
<input type="text" name="title" placeholder='title' size="63" />
<br/>
<textarea name="lyrics" placeholder='lyrics' cols="100" rows="20" ></textarea>
<br/>
<input type="submit" />
</form>  
{% if lyrics %}
<form action="/save/lyrics" method="POST"> {% csrf_token %}
<input type="hidden" name="id" value="{{ lyrics.id }}" />
<input type="text" name="artist" placeholder='artist' size="30" value="{{ lyrics.artist.name }}" />
<input type="text" name="title" placeholder='title' size="63" value="{{ lyrics.title }}"/> 
<br/> 
<textarea name="lyrics" cols="100" rows="100">{{ lyrics.lyrics_text }}</textarea>
<br/>
<input type="submit" />
    
</form>
{% endif %}
-->
<style>
.viwer tr td{ background-color: #EEEEEE;}
</style>
{% if not lyrics %}
<h3>최근 등록 된 아티스트</h3>
<table class="viwer">
{% for a in aa %}
<tr><td width="100">{{ a.created | date:"F" }}</td>
<td width="400"><a href="/artist?no={{ a.id }}">{{ a.name }}</a></td></tr>
{% endfor %}
</table>
<h3>최근 등록 된 가사</h3>
<table class="viwer">
{% for b in bb %}
<tr><td width="100">{{ b.created | date:"F" }}</td>
<td width="200"><a class="txtGreen" href="/lyrics?no={{ b.id }}">{{ b.title }}</a></td>
<td width="200"><a href="/artist?no={{ b.artist.id }}">{{ b.artist.name }}</a></td></tr>
{% endfor %}
</table>
<h3>급부상중인 가사</h3>
<table class="viwer">
{% for d in cc %}
<tr><td width="300"><a class="txtGreen" href="/lyrics?no={{ d.id }}">{{ d.title }}</a>  </td>
<td width="200"><a href="/artist?no={{ d.artist.id }}">{{ d.artist.name }}</a>  </td></tr>
{% endfor %}
</table>
<h3>조회수Top10 가사</h3>
<table class="viwer">
{% for d in dd %}
<tr><td width="300"><a class="txtGreen" href="/lyrics?no={{ d.id }}">{{ d.title }}</a>  </td>
<td width="200"><a href="/artist?no={{ d.artist.id }}">{{ d.artist.name }}</a>  </td></tr>
{% endfor %}
</table>
{% endif %}
<pre>
<h1>{{ lyrics.artist.name }}</h1>
<h2>{{ lyrics.title }}</h2>
{{ lyrics.lyrics_text }}
</pre>
{% endblock contents %}








