{% extends 'web/base.html' %}

{% block contents %}     
<form action="/insert/artist" method="POST"> {% csrf_token %}
<input type="text" name="name" />
<br/> 
<input type="submit" />
</form>
<br/>

<form action="/insert/lyrics" method="POST"> {% csrf_token %}
<input type="text" name="title" />
<br/>
<input type="text" name="artist" />
<br/>
<textarea name="lyrics"></textarea>
<br/>
<input type="submit" />

</form>


 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>

{% endblock contents %}








